
.active-border{
  border-color: #9f65ca;
  border-width: 2px;
  box-shadow: -1px 4px 9px 0px;
}
.body-info{
  position: relative;
  left: 50px;
  top: 10px;
  width: fit-content;
}
.action-button{
  position: relative;
  right: 0px ;
  top: -85px;
}
.user-img{
  width: 40%!important;
    height: 40%!important;
}
.active-border{
  border-color: #9f65ca;
  border-width: 2px;
  box-shadow: -1px 4px 9px 0px;
}
.search-bar:focus-visible{
  box-shadow: 1px 6px 7px 2px #82007e57;
  color:  #710eb9;
}
