.approved-border{
  border-color: hsl(108, 94%, 50%);
  border-width: 2px;
  box-shadow: -1px 4px 9px 0px;
}
.waitting-border{
  border-color: #9f65ca;
  border-width: 2px;
  box-shadow: -1px 4px 9px 0px;
}
.rejected-border{
  border-color:hsl(9, 92%, 20%);
  border-width: 2px;
  box-shadow: -1px 4px 9px 0px;
}
