
<nav class="navbar navbar-expand-lg navbar-dark  bg-gradient-secondary-cus top  text-white">
  <div class="container-fluid">
    <button class="navbar-toggler text-prk" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand " href="#">
      <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      #appName
    </a>
    <!-- <button class="navbar-toggler d-lg-none d-sm-block d-md-block " type="button">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-lg-none d-sm-block d-md-block" >
        <li class="nav-item" (click)="nav.select(1)">
          <a class="nav-link " [class]="active==1?'active':''" aria-current="page" href="#"  >Home</a>
        </li>
        <li class="nav-item" (click)="nav.select(2)">
          <a class="nav-link " [class]="active==2?'active':''"  href="#">task</a>
        </li>
        <li class="nav-item" (click)="nav.select(3)">
          <a class="nav-link " [class]="active==3?'active':''" href="#">administration</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
         -->

      </ul>
    </div>
    <ul class="navbar-nav dropdw">
      <li class="nav-item  no-arrow pr-5" ngbDropdown placement="bottom-left">
        <a class="nav-link"   role="button" id="dropdownBasic1" ngbDropdownToggle>
          <span class="mr-2 d-none d-lg-inline text-gray-600 small">username</span>
          <img class="img-profile rounded-circle" src="../../assets/img/user1-128x128.jpg" width="50" height="44">
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in " ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a class="dropdown-item pointer" (click)="nav.select(4)" ngbDropdownItem phref="">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            Profile
          </a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item pointer" ngbDropdownItem (click)="open(content)">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Logout
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- nav link -->
<ul class="nav nav-pills nav-fill nav-cus p-0 sticky-top">
  <li class="nav-item" (click)="nav.select(1)">
    <a class="nav-link " [class]="active==1?'active':''" aria-current="page" href="#"  >
      <i class="fa fa-home fs-3 d-lg-none d-sm-block d-md-block" aria-hidden="true"></i>
      <span class="d-none d-lg-inline">Home</span>
    </a>
  </li>
  <li class="nav-item" (click)="nav.select(2)">
    <a class="nav-link" href="#" [class]="active==2?'active':''">
      <i class="fa fa-tasks fs-3 d-lg-none d-sm-block d-md-block" aria-hidden="true"></i>
      <span class="d-none d-lg-inline">Task</span>
    </a>
  </li>
  <li class="nav-item no-arrow" (click)="nav.select(3)"  ngbDropdown placement="bottom-left" container="body">

    <a class="nav-link " href="#" [class]="active==3?'active':''" id="dropdownAdmin" role="button" ngbDropdownToggle >
      <i class="fa fa-desktop ml-3 fs-3 h-100 d-lg-none d-sm-block d-md-block" aria-hidden="true"></i>
      <span class="d-none d-lg-inline">Admistration</span>
    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in " style="
    width: 20vw;" ngbDropdownMenu aria-labelledby="dropdownAdmin">
      <a class="dropdown-item pointer" ngbDropdownItem phref="">
         Users
      </a>

      <div class="dropdown-divider"></div>
      <a class="dropdown-item pointer" ngbDropdownItem >
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        acticities
      </a>
    </div>
  </li>
</ul>
<!-- nav link/ -->
<!-- nav content-->

<div ngbNav #nav="ngbNav" [(activeId)]="active" (navChange)="onNavChange($event)" >
  <div [ngbNavItem]="1">
    <ng-template ngbNavContent>
      <app-dashboard></app-dashboard>
    </ng-template>
  </div>
  <div [ngbNavItem]="2">
    <ng-template ngbNavContent>
      <app-task></app-task>
    </ng-template>
  </div>
  <div [ngbNavItem]="3">
    <a ngbNavLink></a>
    <ng-template ngbNavContent>
      <app-administration ></app-administration>
    </ng-template>
  </div>

  <div [ngbNavItem]="4">
    <a ngbNavLink></a>
    <ng-template ngbNavContent>
      <app-profile></app-profile>
    </ng-template>
  </div>

</div>

<div [ngbNavOutlet]="nav" class="mt-2 p-3"></div>


<!-- nav-content / -->


<!-- <div class="position-static">
      <div class="position-static bottom-0 top-1000">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; SMS-Gestionnaire 2020</span>
        </div>
      </div>
</div> -->


<!-- logout modal -->
<ng-template #content let-modal>
<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Profile deletion</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
  <button type="button" ngbAutofocus class="btn btn-pink" (click)="dologout()">Logout</button>
</div>
</ng-template>
<!-- logout modal /-->
