
<div class="container">
  <app-toat *ngIf="toastshow" [msg]="toastmessage" [show]="toastshow" [variant]="toastvariant"></app-toat>

</div>

<div class="p-3">
  <form *ngIf="!submitted" #newPerson="ngForm" class="pt-3 active-border" >
    <!--  Company Information -->
      <h4 class="text-center text-prk">{{label.company_info}}</h4>
      <div class="row g-2 p-3">
        <div class="col-md">
          <div class="form-floating">
            <input type="text" id="accName" name="accName"   placeholder="...Association"
            [(ngModel)]="account.name"  #accName="ngModel" class="form-control"
            [class]="(!accName.valid && accName.dirty) ? 'is-invalid': ''"
            required>
            <label for="accName">{{label.company_name}}</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <input type="text" id="accMotto" name="accMotto"  placeholder="...work - Success"
            [(ngModel)]="account.motto"  #accMotto="ngModel" class="form-control"
            [class]="(!accMotto.valid && accMotto.dirty) ? 'is-invalid': ''"
            required>
            <label for="accMotto">{{label.company_motto}}</label>
          </div>
        </div>
      </div>
    <!--  Company Information /-->
    <!--  Member Information -->
      <h4 class="text-center mt-5  text-prk">{{label.pers_info}}</h4>
      <div class="row g-2 px-3 pt-3">
        <div class="col-md">
          <div class="form-floating">
            <input type="email" id="username" name="username"   placeholder="member@mail.net"
            [(ngModel)]="person.username"  #username="ngModel" class="form-control" email="true"
            [class]="(!username.valid && username.dirty) ? 'is-invalid': ''"
            required >
            <label for="username">{{label.email_address}}</label>
          </div>
        </div>
        <div class="col-md">
          <div class="custom-file">
            <input id="my-input" class="custom-file-input" type="file" name="file"
            type="file" data-id="uploadFile"  (change)="handleFilesChange($event)" [accept]="acceptedFormats"
            >
            <label for="my-input" class="custom-file-label ">
              {{label.profile_image}}
            </label>
            <p *ngIf="fileSelected" class="form-text text-prk pl-1">
              {{filename}}
            </p>
          </div>
          <!-- <div class="form-floating">
            <input>
            <label for="username">File</label>
          </div> -->
        </div>
      </div>
      <div class="row g-2 mt-1 px-3">
        <div class="col-md">
          <div class="form-floating">
            <input type="text" class="form-control" id="fname" name="fname" placeholder="john"
            [class]="(!fname.valid && fname.dirty) ? 'is-invalid': ''"
            [(ngModel)]="person.firstName"   #fname="ngModel" class="form-control"

            required>
            <label for="fname">{{label.first_name}}</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <input type="text" class="form-control" id="lname" name="lname" placeholder="Atangana"
            [class]="(!lname.valid && lname.dirty) ? 'is-invalid': ''"
            [(ngModel)]="person.lastName"   #lname="ngModel" class="form-control"
            required>
            <label for="lname">{{label.last_name}}</label>
          </div>
        </div>
      </div>
      <div class="row g-2 mt-1 px-3">
        <div class="col-md">
          <div class="form-floating">
            <input type="text" class="form-control" id="phone" name="phone" placeholder="6565454545" value=""
            [(ngModel)]="person.phone" name="phone" #phone="ngModel"
            >
            <label for="phone">{{label.contact}}</label>
            <!--   -->
            <p *ngIf="!phone.dirty || phone.pristine" class="form-text text-prk pl-1">
              {{label.contact_help_text}}
            </p>
          </div>
        </div>

        <div class="col-md">
          <div class="form-floating">
            <input type="text" class="form-control" id="city" name="city" placeholder="Yaounde"
            [(ngModel)]="person.city" name="city" #city="ngModel"
            >
            <label for="city">{{label.city}}</label>
          </div>
        </div>
      </div>
      <div class="row g-2 mt-1 px-3">
        <div class="col-md">
          <div class="form-floating">
            <input type="number" class="form-control" id="fees" step=250 min=500  placeholder="0" value=""
            [(ngModel)]="person.fees" name="fees" #fees="ngModel"
            >
            <label for="phone">{{label.regis_fees}}</label>

          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid" name="gender" aria-label="Floating label select example"
            [(ngModel)]="person.gender" name="gender" #gender="ngModel"
              requiered>
              <option value="" >{{label.select_option}}</option>
              <option value="Mr" >Male</option>
              <option value="Mrs">Female</option>
            </select>
            <label for="floatingSelectGrid">{{label.gender}}</label>
          </div>
        </div>
      </div>
      <!-- <div class="row g-2 mt-1 mx-1 role-box" >
        <p>Select roles:</p>
        <div class="col-md-3 col-sm-6" *ngFor="let role of roles">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input"  name="{{role.name}}" id="{{role.name}}"
              [(ngModel)]="role.checked" [value]="role.checked" [disabled]="(role.name=='RL-2')?true:false">
              {{role.name}}
            </label>
          </div>
        </div>

      </div> -->

    <!--  Member Information /-->


    <!-- submit button -->

    <div class="row g-2 mt-1 p-3" >

      <div class="col-md text-center">
        <button type="submit" (click)="saveNew(); newPerson.reset()" class="w-25 btn btn-submit center primary "  [disabled]="!newPerson.form.valid">
          {{label.submit}}
        </button>
      </div>

    </div>

  </form>
  <div *ngIf="submitted" class="my-5  p-3 active-border text-center text-prk">
    {{label.regis_success_text}}
  </div>
</div>




<app-spinner *ngIf="isloading"></app-spinner>

